@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-primaria: #14DE04;
    --cor-secundaria: #6FDE04;
    --cor-terciaria: #DEC904;
    --cor-quaternaria: #198754;
    --cor-branco: #fff;
    --cor-preto: black;
    --cor-cinza: #EFEBFF;
    --fonte-primaria: 'poppins';
    --fonte-secundaria: 'Montserrat';
}

/* cabecalho */
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--cor-primaria);  
    height: 100px;
}

.cabecalho h1 {
    color: var(--cor-branco);
    font-size: 45px;
    font-family: var(--fonte-primaria);
    font-weight: 600;
}

.cabecalho h1:hover {
    transform: scale(1.2);
    transition: 300ms;
}

.cabecalho a{
    text-decoration: none;
}

.cabecalho_nav {
    display: flex;
    padding: 10px;
    gap: 20px;
    ;
}

.cabecalho_nav a {
    text-decoration: none;
    color: var(--cor-branco);
    font-family: var(--fonte-primaria);
    font-size: 24px;
    padding: 5px;
    font-weight: 500;
}

.cabecalho_nav a:hover {
    background-color: var(--cor-terciaria);
    border-radius: 12px;
    transform: scale(1.1);
    transition: 300ms;  
    padding: 5px;
}

.cabecalho div {
    padding: 8px;
}

.cabecalho div a {
    color: var(--cor-preto);
}

.cabecalho div:hover {
    background-color: var(--cor-terciaria);
    border-radius: 12px;
    transform: scale(1.1);
    transition: 300ms;
}

@media (max-width: 767px) {
    .cabecalho {
        display: flex;
        flex-direction: column;
        height: 450px;
    }

    .cabecalho_nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 50%;
    }

    .cabecalho_nav a {
        border-bottom: 3px solid var(--cor-branco);
    }

    .cabecalho h1 {
        padding: 30px 0 10px 0;
    }

    .cabecalho div {
        background-color: var(--cor-terciaria);
        border-radius: 50%;
        padding: 10px;
        margin: 10px 0 20px;
    }
}


/* Rodapé */
.rodape {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    justify-content: center;
    height: 200;
    background-color: var(--cor-primaria);
    padding-top: 20px;
    color: var(--cor-branco) !important;
}

.rodape_contato {
    display: flex;
    flex-direction: column;
    padding: 0 10%;

}

.rodape_contato h3 {
    font-family: var(--fonte-primaria);
    font-weight: 700;
    padding: 20px 0 10px 0;
}

.rodape_contato p {
    font-family: var(--fonte-primaria);
    margin-bottom: 8px;
    font-weight: 500;
}

.rodape_redes_sociais {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.rodape_redes_sociais a {
    color: var(--cor-branco);
    background-color: var(--cor-terciaria);
    border-radius: 50%;
    padding: 12px;
}

.rodape_redes_sociais a:hover,
.rodape_contato p:hover,
.rodape_contato h3:hover {
    transform: scale(1.1);
    transition: 300ms;
}

.rodape_copyright {
    display: flex;
    justify-content: center;
}

.rodape_copyright p {
    width: 75%;
    border-top: 3px solid var(--cor-cinza);
}



/* Body */

.mensagem_carrinho {
    height: 350px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.mensagem_carrinho h2,
.mensagem_carrinho p{
    font-family: var(--fonte-secundaria);
}

